@import "../../styles/variables.scss";

main.codenames .game-message {

    & div {
        padding: 0.25rem 0.5rem;

        border: none;
        border-radius: $game-message-border-radius;
        background: #fff;
    }

    & span {
        font-size: $game-message;
        font-weight: $game-message-weight;
        line-height: $game-message-height;

        pointer-events: none;
        -webkit-user-select: none;
        user-select: none;
    }
}