@import "../../styles/variables.scss";

main.codenames .game-log {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    overflow: hidden;
    background-color: rgba(255,255,255,0.4);
    border-style: solid;
    border-image: initial;
    border-width: $box-shadow-border-width;
    border-color: $box-shadow-border-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

    &.active {
        background-color: rgba(255,255,255,1);
    }

    & .game-log-title {
        font-size: $game-log-title;
        pointer-events: none;
        -webkit-user-select: none;
        user-select: none;
    }
    
    & .game-log-list,
    & .game-log-list ul,
    & .game-log-list li {
        width: 100%;
    }
    
    & .game-log-list {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    & .game-log-list li {
        padding: $game-log-item-padding;
        margin-bottom: $game-log-list-spacing;
        font-size: $game-log-text;
    
        & span {
            font-weight: $game-log-text-bold;
        }
    
        & span:nth-child(2) {
            text-transform: uppercase;
            font-weight: $game-log-text-extra-bold;
        }
    
        & span.game-log-clue {
            color: $game-log-clue-color;
            background-color: $game-log-bg-color;
            padding: $game-log-clue-padding;
        }
    
        &.team-red  { background-color: $team-color-red-log-bg;  }
        &.team-blue { background-color: $team-color-blue-log-bg; }

        &.victory  { text-transform: uppercase; }

        &.team-red span:nth-child(1), span.card-red { color: $team-color-red-log-name;  }
        &.team-blue span:nth-child(1), span.card-blue { color: $team-color-blue-log-name; }
    }
}