@import "../styles/variables.scss";

#dev-tools {
    position: fixed;
    width: 100%;
    bottom: 5px;
    left: 5px;
    z-index: 1000;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;

    &>div:nth-child(1) {
        width: auto;
        white-space: nowrap;

        & li {
            margin-top: 2px;
        }

        & span {
            font-weight: 800;
            border: 2px solid black;
            padding: 0px 2px;
        }
    }

    &>div:nth-child(2) {
        display: flex;
        flex-flow: row nowrap;
        max-height: 38px;
        margin-left: 150px;
    }

    &>div>div,>div>input {
        margin-right: 4px;
    }
}

/*================================================
    CONTAINERS
==================================================*/

/*================================================
#root
    main.codenames
        .bg-texture-layer
            .scaler
                .container-app
                    .container-header
                    .container-sidebar .sidebar-left
                    .container-board
                        .container-game
                    .container-sidebar .sidebar-right
==================================================*/

html,
body,
#root,
main.codenames,
.bg-texture-layer {
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 100%;
}

.container-app {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    width: $app-width;
    height: $app-height;

    & .container-header {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center; 

        width: 100%;
        height: $header-height
    }

    & .container-board {
        position: absolute;
        top: $header-height;

        width: 100%;
        height: auto;
    }

    & .container-sidebar {
        position: absolute;
        top: $header-height;
        
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;

        width: $sidebar-width;
        height: $sidebar-height;

        &.sidebar-left {
            left: 20px;
        }
        &.sidebar-right {
            right: 20px;
        }
    }
}

/*================================================
    BACKGROUNDS
==================================================*/

/*================================================
#root
    main.codenames
        .bg-texture-layer
            .scaler
                .container-app
                    .container-header
                    .container-sidebar .sidebar-left
                    .container-board
                        .container-game
                    .container-sidebar .sidebar-right
==================================================*/

main.codenames {
    background: radial-gradient(circle at 50% 50%, $bg-green-light 0%, $bg-green-dark 100%);
}

main.codenames.red-spymaster,
main.codenames.red-operatives {
    background: radial-gradient(circle at 50% 50%, $bg-red-light 0%, $bg-red-dark 100%);
}

main.codenames.blue-spymaster,
main.codenames.blue-operatives {
    background: radial-gradient(circle at 50% 50%, $bg-blue-light 0%, $bg-blue-dark 100%);
}

main.codenames .bg-texture-layer {
    background-image: url("../images/codename-bg.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*================================================
    LAYERING
==================================================*/

/*================================================
#root
    main.codenames
        .bg-texture-layer
            .scaler
                .container-app
                    .container-header
                    .container-sidebar .sidebar-left
                    .container-board
                        .container-game
                    .container-sidebar .sidebar-right
==================================================*/

main.codenames {
    z-index: 10;

    & .bg-texture-layer {
        z-index: 20;

        & > div {
            z-index :30;

            & div, span, input, button {
                z-index: inherit
            }

        }

    }
}