@import "../../styles/variables.scss";

main.codenames .game-instruction {
    display: flex;
    flex-direction: column nowrap;
    justify-content: center;
    align-items: center;

    height: 100%;

    & div {
        padding: $game-message-padding;

        border: none;
        border-radius: $game-message-border-radius;
        background: #fff;
    }

    & span {
        font-size: $game-message;
        font-weight: $game-message-weight;
        line-height: $game-message-line-height;

        pointer-events: none;
        -webkit-user-select: none;
        user-select: none;
    }
}