@import "styles/variables.scss";
@import "styles/reset.scss";
@import "styles/typography.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  color: #000;
  margin: 0;
  font-size: 16px;
}

// @media only screen and (max-width: 960px) {
//   html {

//   }
// }

.hidden {
  display: none !important;
  pointer-events: none !important;
}

.disabled {
  pointer-events: none !important;
  opacity: 0.4 !important;
}